*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Baumans';
}
body{
/*     margin: 0;
    padding: 0; */
    background-color: rgb(15 23 42);
    color: rgb(148 163 184)
}
header{
    padding: 150px;
    width: 100%;
    background-size: cover;
}
h1{
    color: white;
    text-align: left;
    font-size: 3rem;
}
h1 a, li a{
    text-decoration: none;
    color:  inherit; 
}
article{
    border-radius: 5px;
}
ul{
    list-style: none;
    padding: 0;
}