*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;   
    font-family: Verdana;
}
body{
    padding: 3rem 2rem;
}
h1{
    padding: 3rem 0rem;
}
h2{
    padding: 1rem 0rem;
}
a{
    text-decoration: none;
}
ol{
    list-style: none;
}